@model Booking
@{
    ViewData["Title"] = "CabBook";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="container pt-5 mt-5">
    <h4>Confirm Booking</h4>
    <div class="p-3">

        <form method="post">

            <label class="form-label" asp-for="Source">Enter Source</label>
            <input class="form-control" type="text" asp-for="Source">
            <span asp-validation-for="Source" class="text-danger"></span>

            <label class="form-label" asp-for="Destination">Enter Destination</label>
            <input class="form-control" type="text" asp-for="Destination">
            <span asp-validation-for="Destination" class="text-danger"></span>

            <div class="card bg-light p-3 mt-3">
                <div class="pt-2 p-2 d-flex justify-content-between align-items-center">
                    <span class="mx-3 btn btn-info" disabled>Driver's Name : </span>
                    <span>|</span>
                    <input class="btn btn-outline-dark text-bg-dark" type="text" asp-for="DriverName" readonly>

                </div>
                <hr>
                <div class="d-flex justify-content-between"> 
                    <input class="btn btn-outline-info text-bg-info" type="text" asp-for="CabName" readonly>
                    <span>-</span>
                    <input class=" btn btn-outline-info text-bg-dark" type="text" asp-for="CabType" readonly>
                </div>
                <hr>
                <div class="d-flex justify-content-between pt-3 align-items-center">
                    <span class="btn btn-info">Driver's Contact Number</span>
                    <span>|</span>
                    <input class="btn btn-outline-info text-bg-dark" type="text" asp-for="DriverPhoneNumber" readonly>
                </div>
            </div >

           

            <input class="form-control d-none" type="text" asp-for="DriverId" disabled>

            <input class="form-control d-none" type="text" asp-for="UserId" disabled>




            <div class="d-flex pt-2 justify-content-end">
                <input type="submit" class="btn btn-outline-success" value="Confirm Booking">
            </div>



        </form>

    </div>
</div>