
@model IEnumerable<DriverInfo>

@{
    Layout = "_NewLayout";
}

<div class="container pt-3">

    <div id="tab">
        <table id="example" class="table table-striped table-hover" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.ApplicationUsers.FirstName</td>
                        <td>@item.CabName</td>
                        <td>@item.CabType</td>
                        <td>
                            <a class="btn btn-outline-info" asp-controller="Home" asp-action="Profile" asp-area="Admin" asp-route-id="@item.Id">View Details</a>
                        </td>

                    </tr>

                }

            </tbody>
        </table>
    </div>

</div>

    