@model DriverViewModel
@{
    ViewData["Title"] = "Index";
}


@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

 <link href="~/css/bootstrap_sketchy.css" rel="stylesheet" >
    <style>
        body,html{
            margin:0px;
            padding:0px;
            font-family:'JetBrains Mono';
        }
        body{
            height:100vh;
            background: radial-gradient( circle farthest-corner at 10% 20%, rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
        }
    </style>

</head>
<body>


<div class="container ">

    <div class="w-100 d-flex align-items-center justify-content-center pt-3 flex-column">
        <h5 class="text-danger"> Your Account Needs further Verification </h5>
        <p>Please be Patiant Until we Verify your Credentials</p>
    </div>
    <form method="post">

        <div class="d-flex justify-content-around  pt-5 ">

            <div class="" style="width:20%">

                <label asp-for="LicenceNumber" class="form-lable">License Number</label>
                <input asp-for="LicenceNumber" class="form-control" type="text">
                <span asp-validation-for="LicenceNumber" class="text-danger"></span>

                <label asp-for="HouseNameOrNo" class="form-lable">House NUmber</label>
                <input asp-for="HouseNameOrNo" class="form-control" type="text">
                <span asp-validation-for="HouseNameOrNo" class="text-danger"></span>


                <label asp-for="District" class="form-lable">District</label>
                <input asp-for="District" class="form-control" type="text">
                <span asp-validation-for="District" class="text-danger"></span>

                <label asp-for="Locality" class="form-label">Locality</label>
                <input asp-for="Locality" class="form-control" type="text">
                <span asp-validation-for="Locality" class="text-danger"></span>


                <label asp-for="State" class="form-label">State</label>
                <input asp-for="State" class="form-control" type="text">
                <span asp-validation-for="State" class="text-danger"></span>


                <label asp-for="RcNumber" class="form-lable">R C Number</label>
                <input asp-for="RcNumber" class="form-control" type="text">
                <span asp-validation-for="RcNumber" class="text-danger"></span>
                
                <label asp-for="WorkLocation" class="form-lable">WokLocation</label>
                <input asp-for="WorkLocation" class="form-control" type="text">
                <span asp-validation-for="WorkLocation" class="text-danger"></span>


            </div>

            <div class="w-50" style="width:30%">


                <label asp-for="PinCode" class="form-lable">PIN Code</label>
                <input asp-for="PinCode" class="form-control" type="text">
                <span asp-validation-for="PinCode" class="text-danger"></span>

                <label asp-for="AadharNumber" class="form-label">Aadhar Number</label>
                <input asp-for="AadharNumber" class="form-control" type="text">
                <span asp-validation-for="AadharNumber" class="text-danger"></span>


                <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" type="text">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>


                <label asp-for="CabType" class="form-label">Cab Type</label>
                <input asp-for="CabType" class="form-control" type="text">
                <span asp-validation-for="CabType" class="text-danger"></span>

                <label asp-for="CabName" class="form-lable"Cab Name></label>
                <input asp-for="CabName" class="form-control" type="text">
                <span asp-validation-for="CabName" class="text-danger"></span>

                <label asp-for="ApplicationUsersId" class="form-lable"Cab Name></label>
                <input asp-for="ApplicationUsersId" class="form-control" type="text" disabled>

            </div>


        </div>
        <div class="d-flex gap-2 mt-2 justify-content-end">
            <button class="btn-lg btn btn-outline-info" type="submit">Submit Details</button>
        </div>
    </form>


</div>


</body>
</html>