@model DriverKycModel

@{
    Layout = "_NewLayout";
}



<div class="container bg-light">

        <div class="w-100 d-flex align-items-center justify-content-center pt-3 flex-column">
            <h5 class="text-danger"> Your Account Needs further Verification </h5>
            <p>Please be Patiant Until we Verify your Credentials</p>
        </div>
    <form  method="post">

            <div class="d-flex justify-content-around  pt-5 mt-5">

                <div class="" style="width:20%">

                    <label asp-for="FirstName" class="form-lable" >First Name</label>
                    <input asp-for="FirstName" class="form-control input-lg w-100" type="text">
                    
                    <label asp-for="LastName" class="form-label">Last Name</label>
                    <input asp-for="LastName" class="form-control" type="text">

                    <label asp-for="Email" class="form-lable">Email</label>
                    <input asp-for="Email" class="form-control" type="Email">

                    <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" type="text">

                    <label class="form-lable">R C Number</label>
                    <input asp-for="VehicleRegistrationNumber" class="form-control" type="text">
                    <span asp-validation-for="VehicleRegistrationNumber" class="text-danger"></span>


                    <label  asp-for="CabType" class="form-label">Cab Type</label>
                    <input asp-for="CabType" class="form-control" type="text">
                    <span asp-validation-for="CabType" class="text-danger"></span>

                    <label asp-for="LicenceNumber" class="form-lable">License Number</label>
                    <input asp-for="LicenceNumber" class="form-control" type="text">
                    <span asp-validation-for="LicenceNumber" class="text-danger"></span>

                    <label  asp-for="AadharNumber" class="form-label">Aadhar Number</label>
                    <input asp-for="AadharNumber" class="form-control" type="text">
                    <span asp-validation-for="AadharNumber" class="text-danger"></span>

                    <label  asp-for="PanNumber" class="form-lable">Pan Number</label>
                    <input asp-for="PanNumber" class="form-control" type="text">
                    <span asp-validation-for="PanNumber" class="text-danger"></span>

                </div>

                <div class="w-50" style="width:30%">

                    <label  asp-for="AddressLineOneHouseNameOrHouseNo" class="form-lable">House NUmber</label>
                    <input asp-for="AddressLineOneHouseNameOrHouseNo" class="form-control" type="text">
                    <span asp-validation-for="AddressLineOneHouseNameOrHouseNo" class="text-danger"></span>

                    <label asp-for="AddresLineThreeLocality" class="form-label">Locality</label>
                    <input asp-for="AddresLineThreeLocality" class="form-control" type="text">
                    <span asp-validation-for="AddresLineThreeLocality" class="text-danger"></span>

                    <label asp-for="AddressLineTwoDistrict" class="form-lable">District</label>
                    <input  asp-for="AddressLineTwoDistrict" class="form-control" type="text">
                    <span asp-validation-for="AddressLineTwoDistrict" class="text-danger"></span>

                    <label class="form-label">State</label>
                    <input asp-for="AddresLineFourState" class="form-control" type="text">
                    <span asp-validation-for="AddresLineFourState" class="text-danger"></span>

                    <label asp-for="AddresLineFivePin"  class="form-lable">PIN Code</label>
                    <input asp-for="AddresLineFivePin" class="form-control" type="text">
                    <span asp-validation-for="AddresLineFivePin" class="text-danger"></span>

                </div>
 

            </div>
        <div class="d-flex gap-2 mt-2 justify-content-end">
            <button class="btn-lg btn btn-outline-primary" type="submit">Submit Details</button>
        </div>
    </form>

   
</div>
