@model LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/css/CustomTheme.css">

    <style>
        body, html {
            margin: 0px;
            padding: 0px;
        }

        body { height: 100vh; }
    </style>

</head>
<body>


<div class="d-flex justify-content-center align-items-center h-100 font-monospace ">


    <div class="d-flex justify-content-center align-items-center  p-5 ">
        <div class="d-flex">

            <div class="d-flex align-items-center mx-3">

                <div class="d-flex flex-column mx-4">
                    <a asp-area="Accounts" asp-controller="Home" asp-action="RegisterDriver" class="btn btn-primary p-3" >Register As Driver</a>
                        <hr>
                        <a asp-area="Accounts" asp-controller="Home" asp-action="RegisterUser" class="btn btn-secondary mt-5 p-3">Register As User</a>
                </div>
            </div>

                <div class="bg-dark mx-5" style="width: 1px"></div>

            <div class="bg-black text-light p-4 rounded-3">


                <form method="post">
                <hr/>
                <span>For Existing Users Try Signing In</span>
                <hr/>

                <label class="form-label">Email Id</label>
                <input asp-for="Email" class="form-control" type="text"/>

                <label class="form-label">Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                
                                <div class="d-flex justify-content-end pt-3">
                <button type="submit" class="btn btn-primary px-3">Sign In</button>
            </div>

            </form>




        </div>

    </div>


</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>