@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>

   
  

    body{
        margin:0;
        background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
    }

</style>
</head>
<body>


<div class="card my-sm-5 p-4 pt-4 font-monospace ">

    <div class="d-sm-flex justify-content-sm-around ">

        <div style="font-family:fantasy;" class=" w-50 hidden-mobile">
            <span style="font-size: xx-large;color: #000000">Yor Ride Starts Here.. </span><br>
            <span style="font-size: xx-large;color: #000000">Ride <span style="color: #9aff2e">To</span> Any Point Of The 🌍</span>
            <p style="font-family: cursive;color: #4f5050">Request free ride now 60 % off on your first ride</p>


            <div class="font-monospace pt-3 d-sm-flex flex-column hidden-mobile" style="text-align:justify">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">About Us</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab" tabindex="-1">Register As Driver</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content pt-2">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                        <hr>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel pt-2">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>

                        <div class="d-sm-flex justify-content-end">
                            <a class="btn btn-outline-secondary"> Register </a>

                        </div>
                        <hr>
                    </div>

                    <div class="d-sm-flex justify-content-sm-around pt-2 align-bottom " style="vertical-align:bottom;">
                        <span style="margin-top:5%">
                            <b>Already a Member ?. Try</b>
                        </span>
                        <a class="btn btn-outline-secondary" asp-action="Login"> Signing In</a>
                    </div>

                </div>
            </div>

        </div>

        <div >
            <form method="post">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input asp-for="FirstName" type="text" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>


                <label asp-for="LastName" class="form-label mt-1">Last Name</label>
                <input asp-for="LastName" type="text" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>

                <label asp-for="Email" class="form-label mt-1">Email</label>
                <input asp-for="Email" type="text" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>

                <label asp-for="Password" class="form-label mt-1">Password</label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>

                <label asp-for="ConfirmPassword" class="form-label mt-1">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>

                <div class="pt-2">
                    <input asp-for="TermsAndConditions" type="checkbox" class="form-check-input">
                    <label asp-for="TermsAndConditions" class="form-check-label ">I Accept The Terms and Conditions</label>
                </div>

                <hr>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-success" type="submit">Register</button>
                </div>

                <div asp-validation-summary="All"></div>

            </form>
            <hr class="show-mobile">

        </div>

        <div class="show-mobile">
            <a href="" class="btn btn-outline-secondary"> Register as Driver</a>
            <a href="" class="btn btn-outline-secondary">Sign in</a>
        </div>


    </div>


</div>


</body>
</html>